.title {
    width: 100%;
    max-width: 400px; /* Set a maximum width for the title */
    white-space: pre-wrap; /* Wrap text */
    overflow-wrap: break-word; /* Break words if necessary */
    word-wrap: break-word; /* Ensure word break for older browsers */
    text-overflow: ellipsis;
    /* font-size: small; */
    /* font-weight: 600; */
    overflow: hidden; /* Hide overflow content */
    display: -webkit-box; /* For WebKit browsers */
    -webkit-line-clamp: 3; /* Show only 3 lines before truncating */
    -webkit-box-orient: vertical; /* Vertical orientation for WebKit */
  }
  .graph{
    width: auto !important;
    height: 40vh !important;
  }
  .boxx{
    margin: 15px;

  }
  
 